.red {
    color: red;
    text-decoration: none;
}

.ahorro-container {
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bigTotal {
    font-size: 50px;
}

th, tr {
    text-align: center;
  }

table {
border-collapse: separate;
border-spacing: 25px 5px;
width: 700px;
}

.chart {
    width: 600px;
    padding: 30px;
}


select {
    background: transparent;
    font-size: 14px;
    height: 30px;
    padding: 5px;
    width: 200px;
}

.titulo {
    padding: 20px;
}

hr {
    width: 630px;
}

.texto-ahorro {
    padding: 20px;
}

.titulo-tabla {
    padding: 50px 0px 0px 0px;
}

.beige {
    background: beige !important;
}

.grey {
    background: rgb(224, 224, 222) !important;
}